  <tr class="even" id="category-balance-<%= category.id %>">
    <td>
      <%= link_to_remote image_tag("#{expand ? 'collapse.gif' : 'expand.gif'}"), :url => {:controller => "overview", :action => "category_balance", :category_id => category.id, :expand => !expand} %>&nbsp;&nbsp;<b><%= category.name %></b>
    </td>
    <% @months.each do |month| %>
      <td class="right">
        <b><%= to_currency(category.balance_in_month(month)) %></b>
      </td>
    <% end %>
  </tr>
  <% if expand %>
    <% category.children.each do |subcategory| %>
      <tr class="subcategory-balance-<%= category.id %>">
        <td>
          &nbsp;<%= image_tag("arrow-right.png") %>&nbsp;&nbsp;<%= subcategory.name %>
        </td>
        <% @months.each do |month| %>
          <td class="right">
            <%= to_currency(subcategory.balance_in_month(month)) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
