<% content_for :title, "Lançamentos de #{Date.today.year} agrupador por Conta" %>

<div class="block">
  <%= render :partial => "navigation" %>        
  <div class="content">          
    <div class="inner">
      <table class="table">
        <thead>             
					<th>Conta</th>
          <% @months.each do |month| %>
            <th class="right"><%= l(month, :format => :month) %></th>
          <% end %>
        </thead>
        <% @accounts.each do |account| -%>
        <tr class="<%= cycle("odd", "even") %>">
					<td>
						<b><%= account.name %></b>
					</td>
          <% @months.each do |month| %>
            <td class="right"><b><%= to_currency(account.balance_in_month(month)) %></b></td>
          <% end %>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar">
        <div class="actions"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
