<% content_for :title, "Gráficos dos lançamentos de #{Date.today.year}" %>

<div class="block">
  <%= render :partial => "navigation" %>
  <a href="#" id="link_pie">Pizza</a> | <a href="#" id="link_col">Colunas</a>
  <div class="content" style="width: 100%; height: 600px; margin: 0pt auto;" id="div_chart">
  </div>
</div>


<%= javascript_include_tag 'highcharts' %>

<script type="text/javascript">     
  function pieChart() {
    var chart = new Highcharts.Chart({
      chart: {
        renderTo: 'div_chart',
        plotBackgroundColor: '#CFCFCF',
        plotBorderWidth: null,
        plotShadow: true
      },
      title: {
      text: 'Despesas por categoria no mes atual'
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name +'</b>: R$ '+ this.y;
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: R$ '+ this.y;
            }
          }
        }
      },
        series: [{
        type: 'pie',
        name: 'Despesas por categoria no mes atual',
        data: [<% @data.each do |categoria| %>['<%= categoria[0] %>', <%= categoria[1] %>],<% end if @data %>]
      }]
    });
  };

  function columnChart() {
     var chart = new Highcharts.Chart({
        chart: {
           renderTo: 'div_chart',
           defaultSeriesType: 'column'
        },
        title: {
           text: 'Saldo global diario'
        },
        xAxis: {
           categories: [
           <% (Date.new(2010, 03, 01) .. Date.today).each do |date| %>
             <%= "'#{date}'," %>
           <% end %>
           ]
        },
        yAxis: {
           min: 0,
           title: {
              text: 'Saldo (R$)'
           }
        },
        legend: {
           layout: 'vertical',
           backgroundColor: '#FFFFFF',
           align: 'left',
           verticalAlign: 'top',
           x: 100,
           y: 70,
           floating: true,
           shadow: true
        },
        tooltip: {
           formatter: function() {
              return ''+
                 this.x +': R$ '+ this.y;
           }
        },
        plotOptions: {
           column: {
              pointPadding: 0.2,
              borderWidth: 0
           }
        },
          series: [{
           name: 'Saldo',
                 data: [<% val = 5000; (Date.new(2010, 03, 01) .. Date.today).each do |date| %>
                     <%= "#{val}, " %>
                     <% val = val - rand(300) + (date.day == 15 ? 4000 : 0) %>
                   <% end %>]
        }]
     });
  };

  $(function(){
    $('#link_pie').click(pieChart);
    $('#link_col').click(columnChart);
    $('#link_col').click();
  });
        
</script>
