<div class="block">
  <%= render :partial => "navigation" %>        
  <div class="content">
    <div class="inner">
      <table class="table">
        <thead>             
					<th><%= link_to "Conta", overview_path(:action => :monthly, :order => "accounts.name") -%></th>
					<th><%= link_to "Categoria", overview_path(:action => :monthly, :order => "categories.name") -%></th>
					<th><%= link_to "Descrição", overview_path(:action => :monthly, :order => "entries.description") -%></th>
					<th><%= link_to "Data", overview_path(:action => :monthly, :order => "entries.date") -%></th>
					<th class="right"><%= link_to "Valor", overview_path(:action => :monthly, :order => "entries.value") -%></th>
					<th class="center"><%= link_to "Pago?", overview_path(:action => :monthly, :order => "entries.paid") -%></th>
        </thead>
        <% @entries.each do |entry| %>
          <tr class="<%= pay_status(entry) -%>">
				    <td><b><%= link_to entry.account.name, account_entries_path(entry.account) -%></b></td>
            <td><%= entry.category ? "#{entry.category.parent ? entry.category.parent.name : ''} &rsaquo; #{entry.category.name}" : nil -%></td>
            <td><%= entry.description -%></td>
            <td><%= l entry.date -%></td>
            <td class="right"><%= to_currency(entry.value) -%></td>
            <td class="center"><%= entry.paid ? "Sim" : "Não" -%></td>
          </tr>
        <% end %>
      </table>
      <div class="actions-bar">
        <div class="actions"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
