%tr{:class => "editable #{pay_status(entry)}", :id => "entry-#{entry.id}"}
  %td.center= check_box_tag "id", entry.id, false, :id => "entry-id-#{entry.id}", :onchange => "calculate_total_entries()"
  %td= content_tag :span, l(entry.date), :id => "entry-date-#{entry.id}"
  %td.right= to_currency(entry.value, :id => "entry-value-#{entry.id}")
  %td.center
    = check_box_tag nil, true, entry.paid, :onchange => remote_function(:url => account_entry_path(:account_id => params[:account_id], :id => entry.id, :entry => {:paid => !entry.paid}), :method => "put"), :id => "entry-paid-#{entry.id}"
  %td= content_tag :span, entry.category ? "#{entry.category.parent ? entry.category.parent.name : ''} &rsaquo; #{entry.category.name}" : "&lsaquo; nenhuma &rsaquo;", :id => "entry-category-#{entry.id}"
  %td= content_tag :span, entry.description
  %td.right
    %span.actions.hidden
      = link_to_remote "editar", :url => edit_account_entry_path(:account_id => entry.account_id, :id => entry.id), :method => "get"
      = link_to_remote "excluir", :url => account_entry_path(:account_id => entry.account_id, :id => entry.id), :method => "delete", :confirm => "Confirma a exclusão deste lançamento?", :html => {:id => "entry-delete-#{entry.id}"}
