<div class="block">
  <% if @accounts && !@accounts.empty? %>
    <table id="account-panel" class="table">
      <thead>
        <th class="first">
          Conta
        </th>
        <th class="right">
          Saldo
        </th>
        <th class="last right">
          Pendente
        </th>
      </thead>
      <% for account in @accounts do %>
        <tr class="even">
          <td>
            <b><%= account.name %></b>
          </td>
          <td id="account-balance-<%= account.id %>" class="right">
            <%= to_currency(account.balance) %>
          </td>
          <td id="account-pending-<%= account.id %>" class="right">
            <%= to_currency(account.pending) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3><b>Contas</b></h3>
    <div class="content">
      <p class="large">Suas contas no Mooney podem representar suas bancárias ou repositórios onde você guarda seu dinheiro, sendo possível controlar saldos, depósitos e saques individualmente.</p>
      <p class="large">Você pode <!--<a href="/account_example.png">ver um exemplo</a> ou --><a href="<%= accounts_path %>">cadastrá-las</a> agora mesmo!</p>
      <br/>
    </div>
  <% end %>
</div>
<div class="block">
  <% if @categories && !@categories.empty? %>
    <table id="tag-panel" class="table">
      <thead>
        <th class="first">Categorias (<%= l(@date, :format => "%b/%Y") %>)</th>
        <th class="right">Total</th>
        <th class="last right">Pendente</th>
      </thead>
      <% @categories.each do |category| %>
        <%= render :partial => "entries/category_balance", :locals => {:category => category, :expand => false} %>
      <% end %>
    </table>
  <% else %>
    <h3><b>Categorias</b></h3>
    <div class="content">
      <p class="large">As categorias organizam seus lançamentos em grupos e sub-grupos fornecendo totalizadores mensais sobre suas despesas e/ou rendimentos.</p>
      <p class="large">Você pode <!--<a href="/category_example.png">ver um exemplo</a> ou --><a href="<%= categories_path %>">cadastrá-las</a> agora mesmo!</p>
      <br/>
    </div>
  <% end %>
</div>
