.block
  - if @accounts && !@accounts.empty?
    %table#account-panel.table
      %thead
        %th.first
          Conta
        %th.right
          Saldo
        %th.last.right
          Pendente
      %tbody
      - for account in @accounts do
        %tr.even
          %td
            %b= account.name
          %td.right{:id => "account-balance-#{account.id}"}
            = to_currency(account.balance)
          %td.right{:id => "account-pending-#{account.id}"}
            = to_currency(account.pending)
  - else
    %h3
      %b Contas
    .content
      %p.large Suas contas no Mooney podem representar suas bancárias ou repositórios onde você guarda seu dinheiro, sendo possível controlar saldos, depósitos e saques individualmente.
      %p.large
        Você pode
        / <a href="/account_example.png">ver um exemplo</a> ou
        %a{:href => accounts_path} cadastrá-las
        agora mesmo!
      %br/
.block
  - if @categories && !@categories.empty?
    %table#tag-panel.table
      %thead
        %th.first
          Categorias (#{l(@date, :format => "%b/%Y")})
        %th.right Total
        %th.last.right Pendente
      - @categories.each do |category|
        = render :partial => "entries/category_balance", :locals => {:category => category, :expand => false}
  - else
    %h3
      %b Categorias
    .content
      %p.large As categorias organizam seus lançamentos em grupos e sub-grupos fornecendo totalizadores mensais sobre suas despesas e/ou rendimentos.
      %p.large
        Você pode
        / <a href="/category_example.png">ver um exemplo</a> ou
        %a{:href => categories_path} cadastrá-las
        agora mesmo!
      %br/
