- content_for :head do
  = stylesheet_link_tag "datePicker"
  = javascript_include_tag "date", "jquery.datePicker", "jquery.meiomask", "jquery.scrollTo", "mooney", "mooney.entries"
  - content_for :title, "Lançamentos para #{@account.name} no mês de #{l @date, :format => '%B/%Y'}"
.block
  .block
    %div{:style => "float: left"}
      Selecionar
      - for filter in ["todas", "nenhuma", "pagas", "pendentes", "créditos", "débitos"] do
        %a.blank.button{:href => "#", :onclick => "select_entries('#{filter}'); return false;"}= filter
      |
      %select{:disabled => "disabled", :style => "width: 80px;"}
        %option{:selected => "selected"} ações
        %option marcar como pago
        %option marcar como pendente
    %div{:style => "float: right"}
      %form#filter-form
        = link_to "&larr; #{l(@date - 1.month, :format => '%b/%Y')}", account_entries_path(:account_id => params[:account_id], :date => (@date - 1.month).strftime('%m-%Y')), :class => "blank button"
        = select_tag("date", grouped_options_for_select(date_filter_options, "#{@date.month}-#{@date.year}"), {:onchange => "submit()", :style => "width: 136px"})
        = link_to "#{l(@date + 1.month, :format => '%b/%Y')} &rarr;", account_entries_path(:account_id => params[:account_id], :date => (@date + 1.month).strftime('%m-%Y')), :class => "blank button"
    .clear
  %form#entry-form
    %table#entries.table
      %thead
        %th.first.selectable
          #actions-menu-button #
        %th.date Data
        %th.value.right Valor
        %th.paid Pago?
        %th.tags Categoria
        %th.description Descrição
        %th.last.right
          %nobr
          = link_to_remote "Novo lançamento", :url => new_account_entry_path, :method => :get, :html => {:class => "button"}
      - if @entries && !@entries.empty?
        - for entry in @entries do
          = render :partial => "show", :locals => {:entry => entry}
      - else
        %tr#entry-new
          %td.center.large{:colspan => "7"}
            Nenhum lançamento para
            %b= @account.name
            no mês de
            = succeed "." do
              %b= l @date, :format => "%b/%Y"
            Clique em
            %b= link_to_remote "novo lançamento", :url => new_account_entry_path, :method => :get
            para inserí-los
      %tr#footer
        %th
          \&nbsp;
        %th.right
          TOTAL
        %th.right
          = to_currency(@entries.map(&:value).sum, :id => "entries-total")
        %th{:colspan => "2"}
          \&nbsp;
        %th
          \&nbsp;
        %th.right
          %nobr
          = link_to_remote "Novo lançamento", :url => new_account_entry_path, :method => :get, :html => {:class => "button"}
- content_for :sidebar, render(:partial => 'sidebar')
