#box
  .block
    %h2 Cadastrar nova senha
    .content.login
      - form_for @user, :url => password_path(@user), :html => {:class => "form"} do |f|
        .flash
          = error_messages_for :user, :header_message => false, :message => false, :header_tag => false, :class => "message error"
        %br/
        .group
          .left
            %label.label.right Nova senha
          .right
            = password_field_tag :password, nil, :class => "text_field"
          .clear
        .group
          .left
            %nobr/
            %label.label.right Repetir senha
          .right
            = password_field_tag :password_confirmation, nil, :class => "text_field"
          .clear
        .group.navform
          .right
            = submit_tag "Confirmar &rarr;", :class => "button"
            ou
            \#{link_to "voltar", login_url}
          .clear
