<div id="box">
  <div class="block">
    <h2>Reativar sua conta</h2>
    <div class="content login">
      <% form_tag passwords_url, :class => "form" do %>
        <br/>  
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= simple_format message %></p>
            </div>
          <% end -%>
        </div>
        <br/>
        <div class="group">
          <div class="left">
          	<label class="label right">Email</label>
          </div>
          <div class="right">
          	<%= text_field_tag :email, nil, :class => "text_field" %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="group navform">
          <div class="right">
            <%= submit_tag "Enviar &rarr;", :class => "button" %> ou 
            <%= link_to "voltar", login_path %>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
