#box
  .block
    %h2 Reativar sua conta
    .content.login
      - form_tag passwords_url, :class => "form" do
        %br/
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= simple_format message
        %br/
        .group
          .left
            %label.label.right Email
          .right
            = text_field_tag :email, nil, :class => "text_field"
          .clear
        .group.navform
          .right
            = submit_tag "Enviar &rarr;", :class => "button"
            ou
            \#{link_to "voltar", login_path}
          .clear
