.secondary-navigation
  %ul
    - clazz = "first #{'active' if ['edit', 'update'].include?(action_name)}"
    %li{:class => clazz}
      = link_to "Minhas informações", edit_user_url(current_user)
    - clazz = "#{'active' if ['confirm_export', 'export'].include?(action_name)}"
    %li{:class => clazz}= link_to "Meus dados", user_export_path(:user_id => current_user.id)
    - clazz = "last #{'active' if ['destroy'].include?(action_name)}"
    %li{:class => clazz}= link_to "Excluir conta", user_delete_account_path(:user_id => current_user.id)
  .clear
