<div id="box">
  <div id="block-signup" class="block">
    <h2>Cadastre-se no Mooney!</h2>
    <div class="content">
      <% form_for @user, :url => signup_path, :html => {:class => "form"} do |f| %>
        <div class="flash">
            <%= error_messages_for :user, :header_message => false, :message => false, :header_tag => false, :class => "message error" %>
        </div>
        <br/>
        <div class="group">
          <div class="left">
          	<label class="label right">Email</label>
          </div>
          <div class="right">
          	<%= f.text_field :email, :class => "text_field" %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="group">
          <div class="left">
          	<label class="label right">Senha</label>
          </div>
          <div class="right">
          	<%= f.password_field :password, :class => "text_field" %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="group">
          <div class="left">
          	<nobr><label class="label right">Repetir senha</label></nobr>
          </div>
          <div class="right">
          	<%= f.password_field :password_confirmation, :class => "text_field" %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="group">
          <div class="right">
            <%= hidden_field_tag "user[terms_of_service]", 0 %>
          	<label class="label"><%= check_box_tag "user[terms_of_service]", 1, false %>&nbsp;&nbsp;Li e aceito os <a href="/terms_and_conditions_of_use.html" target="_blank">Termos e Condições de Uso</a></label>
          </div>
          <div class="clear"></div>
        </div>
        <div class="group navform">
          <div class="right">
            <%= f.submit "Cadastrar &rarr;", :class => "button" %> ou
            <%= link_to "voltar", login_path %>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
