
  <% if @categories %>
    <div class="group">
      <%= f.label :name, "Categoria principal", :class => :label %>
      <%= select(:category, :parent_id, @categories.collect {|c| [c.name, c.id] }.insert(0, ["--principal--", "0"]), {}, :class => "small") %>
    </div>
  <% end %>

  <div class="group">
    <%= f.label :name, "Nome", :class => :label %>
    <%= f.text_field :name, :class => 'text_field small' %>
    <span class="description">Ex: transporte, alimentação, moradia</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Gravar &rarr;" /> ou <%= link_to 'cancelar', categories_path %>
</div>
