- content_for :title, "Categorias de lançamentos"
.block
  .secondary-navigation
    %ul
      %li.first.active= link_to 'Lista', categories_path
      %li= link_to 'Nova', new_category_path
    .clear
  .content
    %br/
    .inner
      - if @categories && !@categories.empty?
        %table.table
          %tr
            %th.first Categorias
            %th.last &nbsp;
          - @categories.each do |category|
            %tr.even
              %td
                = category.name
              %td.last
                = link_to image_tag('up.gif'), url_for(:controller => "categories", :action => "up", :category_id => category.id), :title => "Mover para cima"
                = link_to image_tag('down.gif'), url_for(:controller => "categories", :action => "down", :category_id => category.id), :title => "Mover para baixo"
                = link_to 'editar', edit_category_path(category)
                = link_to 'excluir', category_path(category), :method => :delete, :confirm => 'Atenção: todos os lançamentos relacionados serão mantidos, porém sem categoria associada. Deseja prosseguir?'
            - category.children.each do |child|
              %tr.odd
                %td
                  \&nbsp;&nbsp;&nbsp;&nbsp;#{child.name}
                %td.last
                  = link_to image_tag('up.gif'), url_for(:controller => "categories", :action => "up", :category_id => child.id), :title => "Mover para cima"
                  = link_to image_tag('down.gif'), url_for(:controller => "categories", :action => "down", :category_id => child.id), :title => "Mover para baixo"
                  = link_to 'editar', edit_category_path(child)
                  = link_to 'excluir', category_path(child), :method => :delete, :confirm => 'Atenção: todos os lançamentos relacionados serão mantidos, porém sem categoria associada. Deseja prosseguir?'
      - else
        .block
          %h4
            Cadastre agora suas categorias e subcategorias de lançamentos ou #{link_to 'clique aqui', create_categories_defaults_path, :confirm => "Confirma a geração das categorias e sub-categorias padrões?"} para cadastrar valores padrões automaticamente
