<% content_for :title, "Categorias de lançamentos" %>

<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'Lista', categories_path %></li>
      <li><%= link_to 'Nova', new_category_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <br/>
    <div class="inner">
      <% if @categories && !@categories.empty? %>
        <table class="table">
          <tr>             
					  <th class="first">Categorias</th>
            <th class="last">&nbsp;</th>
          </tr>
          <% @categories.each do |category| -%>
            <tr class="even">
					    <td>
						    <%= category.name %>
					    </td>
              <td class="last">
                <%= link_to image_tag('up.gif'), url_for(:controller => "categories", :action => "up", :category_id => category.id), :title => "Mover para cima" %> |
                <%= link_to image_tag('down.gif'), url_for(:controller => "categories", :action => "down", :category_id => category.id), :title => "Mover para baixo" %> |
                <%= link_to 'editar', edit_category_path(category) %> |
                <%= link_to 'excluir', category_path(category), :method => :delete, :confirm => 'Atenção: todos os lançamentos relacionados serão mantidos, porém sem categoria associada. Deseja prosseguir?' %>
              </td>
            </tr>
            <% category.children.each do |child| %>
              <tr class="odd">
					      <td>
						      &nbsp;&nbsp;&nbsp;&nbsp;<%= child.name %>
					      </td>
                <td class="last">
                  <%= link_to image_tag('up.gif'), url_for(:controller => "categories", :action => "up", :category_id => child.id), :title => "Mover para cima" %> |
                  <%= link_to image_tag('down.gif'), url_for(:controller => "categories", :action => "down", :category_id => child.id), :title => "Mover para baixo" %> |
                  <%= link_to 'editar', edit_category_path(child) %> |
                  <%= link_to 'excluir', category_path(child), :method => :delete, :confirm => 'Atenção: todos os lançamentos relacionados serão mantidos, porém sem categoria associada. Deseja prosseguir?' %>
                </td>
              </tr>            
            <% end -%>
          <% end -%>
        </table>
      <% else %>
        <div class="block">
          <h4>Cadastre agora suas categorias e subcategorias de lançamentos ou <%= link_to 'clique aqui', create_categories_defaults_path, :confirm => "Confirma a geração das categorias e sub-categorias padrões?" %> para cadastrar valores padrões automaticamente</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
