#box
  #block-login.block
    %h2 Bem vindo ao Mooney!
    .content.login
      - form_for @user_session, :url => login_url, :html => {:class => "form login"} do |f|
        %br/
        .flash
          = error_messages_for :user_session, :header_message => false, :message => false, :header_tag => false, :class => "message error"
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= simple_format message
        %br/
        .group
          .left
            %label.label.right Email
          .right
            = f.text_field :email, :class => "text_field"
          .clear
        .group
          .left
            %label.label.right Senha
          .right
            = f.password_field :password, :class => "text_field"
          .clear
        .group.navform
          .right
            = f.submit "Login &rarr;", :class => "button left"
            \&nbsp;
            \#{f.check_box :remember_me}&nbsp;#{f.label :remember_me, "Lembrar?"}&nbsp;
            \#{link_to "esqueceu sua senha?", passwords_path}
          .clear
      %br/
      %hr/
      %br/
      .form
        .navform.block
          %nobr{:style => "text-align: center"}/
          %h1
            Quer controlar seu dinheiro? #{link_to "Cadastre-se jรก!", signup_path}
          %nobr/
          .clear
