<div id="box">
  <div id="block-login" class="block">
    <h2>Bem vindo ao Mooney!</h2>
    <div class="content login">
      <% form_for @user_session, :url => login_url, :html => {:class => "form login"} do |f| %>
        <br/>
        <div class="flash">
          <%= error_messages_for :user_session, :header_message => false, :message => false, :header_tag => false, :class => "message error" %>
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= simple_format message %></p>
            </div>
          <% end -%>
        </div>
        <br/>
        <div class="group">
          <div class="left">
          	<label class="label right">Email</label>
          </div>
          <div class="right">
          	<%= f.text_field :email, :class => "text_field" %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="group">
          <div class="left">
          	<label class="label right">Senha</label>
          </div>
          <div class="right">
          	<%= f.password_field :password, :class => "text_field" %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="group navform">
          <div class="right">
            <%= f.submit "Login &rarr;", :class => "button left" %>&nbsp;
            <%= link_to "esqueceu sua senha?", passwords_path %>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
      <br/>
      <hr/>
      <br/>
      <div class="form">
        <div class="navform block">
        	<nobr style="text-align: center"><h1>Quer controlar seu dinheiro? <%= link_to "Cadastre-se já!", signup_path %></h1><nobr/>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
