!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Mooney - #{yield :title}
    = stylesheet_link_tag "all_in"
    = javascript_include_tag :defaults, "mooney"
    :javascript
      $().ajaxSend(function() {
        $("#loading").show();
      });
      $().ajaxStop(function(){
        $("#loading").fadeOut("fast");
      });
    = yield :head
  %body
    #loading
      #loading-message carregando
    #container
      #header
        %h1
          %a{:href => "/"} Mooney
        = render(:partial => "layouts/navigation")
      #wrapper
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
        #sidebar
          = yield :sidebar
        .clear
      = render :partial => "layouts/footer"
    :javascript
      var uservoiceOptions = {
        /* required */
        key: 'mooney',
        host: 'mooney.uservoice.com', 
        forum: '40085',
        showTab: false,  
        /* optional */
        alignment: 'right',
        background_color:'#c00', 
        text_color: 'white',
        hover_color: '#f00',
        lang: 'pt_BR'
      };
      function _loadUserVoice() {
        var s = document.createElement('script');
        s.setAttribute('type', 'text/javascript');
        s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
  
