.group
  = f.label :name, "Nome", :class => :label
  = f.text_field :name, :class => 'text_field small', :maxlength => '30'
  %span.description Ex: dinheiro, c/c banco xpto, poupança

.group
  = f.label :balance, "Saldo", :class => :label
  = f.text_field :balance, :class => 'text_field smaller'
  %span.description Ex: 1000,00
.group.navform
  %input.button{:type => 'submit', :value => 'Gravar &rarr;'}= "ou #{link_to 'cancelar', accounts_path}"
