
  <div class="group">
    <%= f.label :name, "Nome", :class => :label %>
    <%= f.text_field :name, :class => 'text_field small', :maxlength => '30' %>
    <span class="description">Ex: dinheiro, c/c banco xpto, poupança</span>
  </div>

  <div class="group">
    <%= f.label :balance, "Saldo", :class => :label %>
    <%= f.text_field :balance, :class => 'text_field smaller' %>
    <span class="description">Ex: 1000,00</span>
  </div>

<div class="group navform">
  <input type="submit" class="button" value="Gravar &rarr;" /> ou <%= link_to 'cancelar', accounts_path %>
</div>
