<% content_for :title, "Manutenção de Contas" %>

<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'Lista', accounts_path %></li>
      <li><%= link_to 'Nova', new_account_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <div class="inner">
      <br/>
      <% if @accounts && !@accounts.empty? %>
        <table class="table">
          <tr>             
					  <th class="first">Nome</th>
					  <th class="right">Saldo</th>
            <th class="last">&nbsp;</th>
          </tr>
          <% @accounts.each do |account| -%>
          <tr class="<%= cycle("odd", "even") %>">
					  <td>
						  <%= account.name %>
					  </td>
					  <td class="right">
              <%= to_currency(account.balance) %>
            </td>
            <td class="last">
              <%= link_to 'editar', edit_account_path(account) %> |
              <%= link_to 'excluir', account_path(account), :method => :delete, :confirm => 'Atenção: todos os lançamentos desta conta serão permanentemente excluídos! Deseja prosseguir?' %>
            </td>
          </tr>          
          <% end -%>
        </table>
      <% else %>
        <div class="block">
          <h4>Cadastre agora suas contas bancárias ou <%= link_to 'clique aqui', create_accounts_defaults_path, :confirm => "Confirma a geração das contas padrões?" %> para cadastrar valores padrões automaticamente</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
