- content_for :title, "Manutenção de Contas"

.block
  .secondary-navigation
    %ul
      %li.first.active= link_to 'Lista', accounts_path
      %li= link_to 'Nova', new_account_path
    .clear
  .content
    .inner
      %br
      -if @accounts && !@accounts.empty?
        %table.table
          %tr
            %th.first Nome
            %th.right Saldo
            %th.last=' '
          -@accounts.each do |account|
            %tr{:class => "#{cycle("odd", "even")}"}
              %td
                =account.name
              %td.right
                =to_currency(account.balance)
              %td.last
                ="#{link_to 'editar', edit_account_path(account)} | #{link_to 'excluir', account_path(account), :method => :delete, :confirm => 'Atenção: todos os lançamentos desta conta serão permanentemente excluídos! Deseja prosseguir?'}"
      -else
        .block
          %h4= "Cadastre agora suas contas bancárias ou #{link_to 'clique aqui', create_accounts_defaults_path, :confirm => 'Confirma a geração das contas padrões?'} para cadastrar valores padrões automaticamente"
